.grid-container {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.logo {
  opacity: 0.30;
  
}

.logo:hover {
  opacity: 1;
}

.logo:active .logo{
  opacity: 1;
}